body {
  font-family: "Roboto", "Raleway", sans-serif;
  font-size: 14px;
  color: #000000;
  background: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  letter-spacing: 0.02em;
}

ul {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  margin: 0 0 50px 0;
  text-align: center;
}

h4 {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}

#accept-policy {
  cursor: pointer;
}

.is-hidden {
  opacity: 50%;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity 300ms ease-in-out, visibility 300ms linear;
  transition: opacity 300ms ease-in-out, visibility 300ms linear;
}

.header__container {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
  position: relative;
}

.navbar--hidden {
  display: none;
}
.navbar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 15px;
  max-width: 1200px;
  margin: 0 auto;
  height: 80px;
}
.navbar__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}
.navbar__link {
  text-decoration: none;
  line-height: 1.14;
  color: #000000;
  font-weight: 500;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color;
  transition-property: color;
  padding: 16px;
  margin: 0 4px;
  position: relative;
}
.navbar__link:visited {
  color: #000000;
}
.navbar__logo {
  color: #000000;
}
.navbar__logo:visited {
  color: #000000;
}

.navbar__link--active {
  color: #2196f3;
}
.navbar__link--active::after {
  position: absolute;
  top: 62px;
  left: 0px;
  content: "";
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
}
.navbar__link--active:visited {
  color: #2196f3;
}

@media (min-width: 768px) {
  .navbar--hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 1200px) {
  .navbar--hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 16px 15px;
    max-width: 1200px;
    margin: 0 auto;
  }
  .navbar__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 50px;
  }
  .navbar__link {
    text-decoration: none;
    line-height: 1.14;
    color: #000000;
    font-weight: 500;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-property: color;
    transition-property: color;
    padding: 16px;
    margin: 0 4px;
    position: relative;
  }
  .navbar__link:visited {
    color: #000000;
  }
  .navbar__logo {
    color: #000000;
  }
  .navbar__logo:visited {
    color: #000000;
  }
  .navbar__link--active {
    color: #2196f3;
  }
  .navbar__link--active::after {
    position: absolute;
    top: 62px;
    left: 0px;
    content: "";
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
  }
  .navbar__link--active:visited {
    color: #2196f3;
  }
}
.logo {
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
}
.logo__text--blue {
  color: #2196f3;
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  line-height: 1.14;
  font-weight: 500;
  padding: 16px;
  margin: 0 4px;
  color: #757575;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color;
  transition-property: color;
}
.contact__link:hover {
  color: #2196f3;
  border: #2196f3;
  border-radius: 2px;
}
.contact__link:hover .contact__icon {
  fill: #2196f3;
}
.contact__link:visited {
  color: #757575;
}
.contact__icon {
  fill: #757575;
  margin-right: 10px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: fill;
  transition-property: fill;
}
.contact__icon:hover {
  fill: #2196f3;
}

@media (min-width: 768px) {
  .contact__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__link {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 5px;
    margin: 0px;
  }
}
@media (min-width: 1200px) {
  .contact__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    line-height: 1.14;
    font-weight: 500;
    padding: 16px;
    margin: 0 4px;
    color: #757575;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-property: color;
    transition-property: color;
  }
  .contact__link:hover {
    color: #2196f3;
    border: #2196f3;
    border-radius: 2px;
  }
  .contact__link:hover .contact__icon {
    fill: #2196f3;
  }
  .contact__link:visited {
    color: #757575;
  }
  .contact__icon {
    fill: #757575;
    margin-right: 10px;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-property: fill;
    transition-property: fill;
  }
  .contact__icon:hover {
    fill: #2196f3;
  }
}
.slider {
  background: #2f303a;
}
.slider__container {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/agencja/background.jpg");
  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../images/agencja/background.jpg");
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  min-width: 320px;
  height: 400px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.slider__title {
  margin: 0 auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.slider__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.76;
}
.slider__button:hover {
  background-color: #1971b8;
  border-color: #1971b8;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolition: 2dppx) {
  .slider__container {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/agencja/background@2x.jpg");
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../images/agencja/background@2x.jpg");
  }
}
@media (min-width: 768px) {
  .slider__container {
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .slider {
    background: #2f303a;
  }
  .slider__container {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/agencja/background.jpg");
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../images/agencja/background.jpg");
    max-width: 1600px;
    min-width: 320px;
    height: 600px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .slider__title {
    margin: 0 auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }
}
.button {
  width: 200px;
  height: 50px;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: #2196f3;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
}

.article__container {
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
}
.article__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 60px 0 0 0;
}
.article__list li {
  margin: 0 15px;
}
.article__title {
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}
.article__paragraph {
  color: #757575;
  height: 75px;
  max-width: 450px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0;
}
.article__icons {
  border-radius: 4px;
  max-width: 450px;
  height: 120px;
  background: #f5f4fa;
  margin: 0px auto 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .article__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
  .article__list li {
    margin: 0px;
  }
  .article__paragraph {
    max-width: 354px;
  }
  .article__icons {
    max-width: 354px;
    height: 120px;
  }
}
@media (min-width: 1200px) {
  .article {
    margin: auto;
  }
  .article__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0 auto;
    padding: 94px 0 0 0;
  }
  .article__title {
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.03em;
    margin: 0;
    margin-bottom: 10px;
  }
  .article__paragraph {
    color: #757575;
    height: 75px;
    width: 270px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin: 0;
  }
  .article__icons {
    border-radius: 4px;
    width: 270px;
    height: 120px;
    background: #f5f4fa;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.offer--hidden {
  display: none;
}
.offer__container {
  padding: 60px 0;
  margin: 0 auto;
  max-width: 1200px;
  margin: auto;
}
.offer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  padding: 0;
  margin: 0;
}
.offer__list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.offer__label {
  position: absolute;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  padding: 27px;
  text-align: center;
  margin: 0;
}

@media (min-width: 1200px) {
  .offer--hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .offer__container {
    padding: 94px 0;
    margin: 0 auto;
  }
  .offer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
    padding: 0;
    margin: 0;
  }
  .offer__list > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .offer__label {
    position: absolute;
    bottom: 0;
    background: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
    padding: 27px;
    text-align: center;
    margin: 0;
  }
}
.team {
  background-color: #f5f4fa;
}
.team__container {
  padding: 60px 0;
  max-width: 1200px;
  min-width: 320px;
  margin: auto;
}
.team__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  padding: 0;
  margin: 0;
  color: #757575;
  font-size: 16px;
}
.team__list li {
  margin: 0 15px;
}
.team__figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  overflow: auto;
}
.team__img {
  display: block;
  max-width: 100%;
  height: auto;
}
.team__figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  gap: 10px;
  padding-top: 30px;
  background: #ffffff;
}
.team__figcaption--bold {
  font-weight: 500;
  line-height: 1.19;
  color: #000000;
}
.team__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  padding-top: 16px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.team__icon {
  fill: #afb1b8;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  border: none;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: fill, background-color;
  transition-property: fill, background-color;
}
.team__icon:hover {
  fill: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.team__icon:focus {
  background-color: #2196f3;
}

@media (min-width: 768px) {
  .team__img {
    width: 354px;
    height: auto;
  }
}
@media (min-width: 1200px) {
  .team {
    background-color: #f5f4fa;
  }
  .team__container {
    padding: 94px 0;
    margin: 0 auto;
    max-width: 1200px;
  }
  .team .team__img {
    width: 270px;
    height: 260px;
  }
  .team .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
    padding: 0;
    margin: 0;
    color: #757575;
    font-size: 16px;
  }
  .team .team__list li {
    margin: 0;
  }
  .team .team__figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    overflow: auto;
  }
  .team .team__figcaption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 16px;
    gap: 10px;
    padding-top: 30px;
    background: #ffffff;
  }
  .team .team__figcaption--bold {
    font-weight: 500;
    line-height: 1.19;
    color: #000000;
  }
  .team .team__media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
    padding-top: 16px;
    padding-bottom: 30px;
    background-color: #ffffff;
  }
  .team .team__icon {
    fill: #afb1b8;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    border: none;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-property: fill, background-color;
    transition-property: fill, background-color;
  }
  .team .team__icon:hover {
    fill: #ffffff;
    background-color: #2196f3;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
  .team .team__icon:focus {
    background-color: #2196f3;
  }
}
.client__container {
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  padding: 60px 0;
}
.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.client__item {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.client__icon {
  fill: #757575;
  width: 210px;
  height: 92px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: fill, border-color;
  transition-property: fill, border-color;
}
.client__icon:hover {
  fill: #2196f3;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  border-color: #2196f3;
}

@media (min-width: 768px) {
  .client__list {
    -ms-flex-preferred-size: calc((100% - 20px) / 3);
        flex-basis: calc((100% - 20px) / 3);
  }
  .client__icon {
    width: 226px;
    height: 92px;
  }
}
@media (min-width: 1200px) {
  .client__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 94px 0;
  }
  .client__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
    padding: 0;
    margin: 0;
  }
  .client__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    fill: #757575;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-property: fill, border-color;
    transition-property: fill, border-color;
  }
  .client__icon:hover {
    fill: #2196f3;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    border-color: #2196f3;
  }
}
.footer {
  background-color: #2f303a;
}
.footer__container {
  padding: 60px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 70px;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
}
.footer__box {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__logo {
  margin: auto;
  color: #ffffff;
}
.footer__logo:visited {
  color: #ffffff;
}
.footer__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.footer__icon {
  fill: #ffffff;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1019607843);
  width: 44px;
  height: 44px;
  border: none;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: fill, background-color;
  transition-property: fill, background-color;
}
.footer__icon:hover {
  fill: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.footer__icon:focus {
  background-color: pink;
}
.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-form__newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 14px;
}
.footer-form__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  background-color: #2f303a;
  color: #ffffff;
}
.footer-form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 24px;
  padding-left: 42px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
}
.footer-form__button:hover {
  background-color: #1971b8;
  border-color: #1971b8;
}
.footer-form__button--icon {
  width: 24px;
  height: 24px;
  fill: #ffffff;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: fill, background-color;
  transition-property: fill, background-color;
}

@media (min-width: 768px) {
  .footer-form__input {
    width: 450px;
    height: 50px;
  }
}
@media (min-width: 1200px) {
  .footer {
    background-color: #2f303a;
  }
  .footer__container {
    padding: 60px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0 auto;
  }
  .footer__box {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__logo {
    margin: 0;
    color: #ffffff;
  }
  .footer__logo:visited {
    color: #ffffff;
  }
  .footer__media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 10px;
  }
  .footer__icon {
    fill: #ffffff;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1019607843);
    width: 44px;
    height: 44px;
    border: none;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-property: fill, background-color;
    transition-property: fill, background-color;
  }
  .footer__icon:hover {
    fill: #ffffff;
    background-color: #2196f3;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
  .footer__icon:focus {
    background-color: pink;
  }
  .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer-form__newsletter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 14px;
  }
  .footer-form__input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding-left: 16px;
    background-color: #2f303a;
    color: #ffffff;
  }
  .footer-form__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    gap: 24px;
    padding-left: 42px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
  }
  .footer-form__button:hover {
    background-color: #1971b8;
    border-color: #1971b8;
  }
  .footer-form__button--icon {
    width: 24px;
    height: 24px;
    fill: #ffffff;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-property: fill, background-color;
    transition-property: fill, background-color;
  }
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 10;
  -webkit-transition: opacity 300ms ease-in-out, visibility 300ms linear;
  transition: opacity 300ms ease-in-out, visibility 300ms linear;
}
.modal__container {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: calc(100% - 30px);
  max-width: 450px;
  background-color: #ffffff;
  padding: 40px;
}
.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: border-color;
  transition-property: border-color;
}
.modal__close-btn--icon {
  height: 18px;
  width: 18px;
}
.modal__close-btn:hover {
  border-color: #1971b8;
  fill: #2196f3;
}
.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}
.modal__label {
  display: block;
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: #757575;
  margin-top: 10px;
}
.modal__label:hover > .modal__icon {
  fill: #2196f3;
}
.modal__textarea {
  display: block;
  resize: none;
  width: 100%;
  max-width: 400px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;
  margin-top: 4px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: border-color;
  transition-property: border-color;
}
.modal__textarea:hover, .modal__textarea:focus {
  border-color: #2196f3;
  outline: none;
  fill: #2196f3;
}
.modal__icon {
  position: absolute;
  top: 30px;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: #212121;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: fill;
  transition-property: fill;
}
.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding-left: 40px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: border-color, fill;
  transition-property: border-color, fill;
}
.modal__input:focus, .modal__input:hover {
  border-color: #2196f3;
  outline: none;
  fill: #2196f3;
}
.modal__button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
}
.modal__button:hover {
  background-color: #1971b8;
  border-color: #1971b8;
}
.modal__link {
  text-decoration: none;
  line-height: 1.14;
  font-weight: 500;
  color: #2196f3;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color;
  transition-property: color;
  cursor: pointer;
}
.modal__link:visited {
  color: #2196f3;
}
.modal__link:hover {
  color: #1971b8;
}

@media (min-width: 1200px) {
  .modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 10;
    -webkit-transition: opacity 300ms ease-in-out, visibility 300ms linear;
    transition: opacity 300ms ease-in-out, visibility 300ms linear;
  }
  .modal__container {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 528px;
    /* height: 581px; */
    background-color: #ffffff;
    padding: 40px;
  }
  .modal__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-property: border-color;
    transition-property: border-color;
  }
  .modal__close-btn--icon {
    height: 18px;
    width: 18px;
  }
  .modal__close-btn:hover {
    border-color: #1971b8;
    fill: #2196f3;
  }
  .modal__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: #212121;
  }
  .modal__label {
    display: block;
    position: relative;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    color: #757575;
    margin-top: 10px;
  }
  .modal__label:hover > .modal__icon {
    fill: #2196f3;
  }
  .modal__textarea {
    display: block;
    resize: none;
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    margin-bottom: 20px;
    margin-top: 4px;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-property: border-color;
    transition-property: border-color;
  }
  .modal__textarea:hover, .modal__textarea:focus {
    border-color: #2196f3;
    outline: none;
    fill: #2196f3;
  }
  .modal__icon {
    position: absolute;
    top: 30px;
    left: 12px;
    width: 18px;
    height: 18px;
    fill: #212121;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-property: fill;
    transition-property: fill;
  }
  .modal__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-top: 4px;
    padding-left: 40px;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-property: border-color, fill;
    transition-property: border-color, fill;
  }
  .modal__input:focus, .modal__input:hover {
    border-color: #2196f3;
    outline: none;
    fill: #2196f3;
  }
  .modal__button {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
  }
  .modal__button:hover {
    background-color: #1971b8;
    border-color: #1971b8;
  }
  .modal__link {
    text-decoration: none;
    line-height: 1.14;
    font-weight: 500;
    color: #2196f3;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-property: color;
    transition-property: color;
    cursor: pointer;
  }
  .modal__link:visited {
    color: #2196f3;
  }
  .modal__link:hover {
    color: #1971b8;
  }
}
.portfolio {
  max-width: 1200px;
  margin: 0 auto;
  padding: 94px 0;
}
.portfolio__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
  background-color: #f5f4fa;
  padding: 6px 22px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 4px;
  border: none;
  border-color: #f5f4fa;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.portfolio__button:hover {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}
.portfolio__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin-top: 34px;
}
.portfolio__grid-border:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.portfolio__figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* position: relative; */
}

.figure__figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  font-size: 16px;
  color: #757575;
  letter-spacing: 0.03em;
  line-height: 1.88;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.figure__figcaption--bold {
  font-weight: 700;
  font-size: 18px;
  color: #212121;
  letter-spacing: 0.06em;
  line-height: 2;
}
.figure__overlay {
  position: relative;
  overflow: hidden;
}
.figure__overlay:hover .figure__text-overlay {
  -webkit-transform: translate(0%, -100%);
          transform: translate(0%, -100%);
}
.figure__text-overlay {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 49px 45px 49px 24px;
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  width: 370px;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  overflow: hidden;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9px;
  color: #ffffff;
  font-style: normal;
  margin-top: 20px;
}
.address__link {
  color: #757575;
  text-decoration: none;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color;
  transition-property: color;
}
.address__link:visited {
  color: #000000;
}
.address__link:hover {
  color: #2196f3;
  border: #2196f3;
  border-radius: 2px;
}

@media (min-width: 1200px) {
  .address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 9px;
    width: 250px;
    color: #ffffff;
    font-style: normal;
    margin-top: 20px;
  }
  .address__link {
    color: #757575;
    text-decoration: none;
    line-height: 1.71;
    letter-spacing: 0.03em;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-property: color;
    transition-property: color;
  }
  .address__link:visited {
    color: #000000;
  }
  .address__link:hover {
    color: #2196f3;
    border: #2196f3;
    border-radius: 2px;
  }
}
.js-menu--hidden {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.js-menu-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgb(255, 255, 255);
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  -webkit-transition: opacity 300ms ease-in-out, visibility 300ms linear;
  transition: opacity 300ms ease-in-out, visibility 300ms linear;
}
.js-menu__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  z-index: 10;
}
.js-menu__navigation-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #000000;
}
.js-menu__navigation-link:visited {
  color: #000000;
}
.js-menu__navigation-link:hover {
  color: #2196f3;
}
.js-menu__navigation-link--active {
  color: #2196f3;
}
.js-menu__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 64px;
}
.js-menu__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
.js-menu__contact-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}
.js-menu__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 10px;
}
.js-menu__media-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.js-menu__media-link:nth-child(-n+3) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.is-open {
  -webkit-transform: translateX(0) rotate(0) scale(1);
          transform: translateX(0) rotate(0) scale(1);
}

.js-close-menu {
  position: absolute;
  right: 30px;
  top: 30px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: rgb(255, 255, 255);
}
.js-close-menu__icon {
  height: 20px;
  width: 20px;
}

.js-open-menu__icon {
  position: absolute;
  right: 20px;
  top: 20px;
  height: 40px;
  width: 40px;
}

.js-close-menu,
.js-open-menu {
  cursor: pointer;
}

@media (min-width: 768px) {
  .js-menu {
    display: none;
  }
}
@media (min-width: 1200px) {
  .js-menu {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */