/* GENERAL CLASSES */
:root {
  --color-navy: #2f303a;
  --color-background: #e5e5e5;
  --color-ash: #f5f4fa;
  --color-blue: #2196f3;
  --color-white: #ffffff;
  --color-lightgray: #757575;
  --color-almostblack: #212121;
  --color-black: #000000;
  --color-icon-grey: #afb1b8;
  --color-icon-dark: rgba(255, 255, 255, 0.1);
}

* {
  margin: 0;
  padding: 0;
}
.body {
  font-family: "Roboto", "Raleway", sans-serif;
  font-size: 14px;
  color: var(-color-black);
  background: var(--color-white);
  justify-content: center;
  margin: 0 auto;
  letter-spacing: 0.02em;
}

ul {
  list-style: none;
}

.text-blue {
  color: var(--color-blue);
}
.text-white {
  color: var(--color-white);
}
.text-lightgray {
  color: var(--color-lightgray);
}
.background-ash {
  background-color: var(--color-ash);
}

.background-navy {
  background-color: var(--color-navy);
}

.background-white {
  background-color: var(--color-white);
  border-bottom: 1px solid #ececec;
}
/* HEADER CLASSES */

.container {
  width: 1200px;
  margin: 0 auto;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 27px 16px 15px;
}

.logo {
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-right: 77px;
}

.logo:visited {
  color: var(--color-black);
}
.navigation {
  display: flex;
  align-items: center;
  /* margin-right: 331px; */
}
.logo-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation-link {
  text-decoration: none;
  line-height: 1.14;
  font-weight: 500;
  padding: 16px;
  margin: 0 4px;
}
.contact-link {
  text-decoration: none;
  line-height: 1.14;
  font-weight: 500;
  padding: 16px;
  margin: 0 4px;
  color: var(--color-lightgray);
}

.navigation-link:visited,
.address-link:visited {
  color: var(--color-black);
}
.contact-link:visited {
  color: var(--color-lightgray);
}

.contact-link:hover,
.navigation-link:hover,
.address-link:hover {
  color: var(--color-blue);
}

/* MAIN CLASSES */
.section {
  padding: 94px 0px;
}
.slider {
  background-image: linear-gradient(
      0deg,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url("../images/agencja/background.png");
  max-width: 1600px;
  margin: auto;
  padding: 200px 252px 200px 252px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px 0;
}
.background-slider {
  background: var(--color-navy);
  margin: 0 auto;
}
h1 {
  margin: 0 auto;
}
.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--color-white);
}

.top-button {
  width: 200px;
  height: 50px;
  color: var(--color-white);
  background-color: var(--color-blue);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.76;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--color-blue);
}

.primary-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin: 0 0 50px 0;
  text-align: center;
}

.primary-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.team-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 0;
  margin: 0;
  color: var(--color-lightgray);
  font-size: 16px;
}

.figure-team {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  overflow: auto;
}
.figcaption-team {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
  gap: 10px;
  padding-top: 30px;
  background: var(--color-white);
}
.middle {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;
  padding-bottom: 0;
}

.middle > li:nth-child(-n + 3) {
  margin-right: 30px;
}

.secondary-title {
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 10px;
}
.secondary-paragraph {
  color: var(--color-lightgray);
  width: 270px;
  height: 75px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0;
}

.team-bold {
  font-weight: 500;
  line-height: 1.19;
  color: var(--color-black);
}

/* FOOTER CLASSES */
.footer {
  background-color: var(--color-navy);
  padding: 60px 15px;
}
.address-section {
  display: flex;
  flex-direction: column;
  gap: 9px;
  color: var(--color-white);
  font-style: normal;
  margin-top: 20px;
}
.address-link {
  color: var(--color-lightgray);
  text-decoration: none;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* PORTFOLIO ADDITIONAL CLASSES */

.figure-grid {
  display: flex;
  flex-direction: column;
}
.figcaption-grid {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 16px;
  color: var(--color-lightgray);
  letter-spacing: 0.03em;
  line-height: 1.88;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.grid-bold {
  font-weight: 700;
  font-size: 18px;
  color: var(--color-almostblack);
  letter-spacing: 0.06em;
  line-height: 2;
}
.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-almostblack);
  cursor: pointer;
  background-color: var(--color-ash);
  padding: 6px 22px;
  box-shadow: none;
  border-radius: 4px;
  border: none;
  border-color: var(--color-ash);
}
.button:hover {
  color: var(--color-white);
  background-color: var(--color-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.picture-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 34px;
}
.grid-border:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.button-list {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.nav-icon {
  fill: var(--color-lightgray);
}
.nav-icon:hover {
  fill: var(--color-blue);
}
.contact-link:hover .nav-icon {
  fill: var(--color-blue);
}
.lorem-icon {
  border-radius: 4px;
  width: 270px;
  height: 120px;
  background: var(--color-ash);
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-media {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 16px;
  padding-bottom: 30px;
  background-color: var(--color-white);
}
.media-icon {
  fill: var(--color-icon-grey);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  border: none;
}
.client-icon {
  fill: var(--color-icon-grey);
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.client-icon:hover {
  fill: var(--color-blue);
  background-color: var(--color-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  border-color: var(--color-blue);
}

.media-icon:hover {
  fill: var(--color-white);
  background-color: var(--color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.media-icon:focus {
  background-color: pink;
}
.footer-media {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.footer-icon {
  fill: var(--color-white);
  border-radius: 50%;
  background-color: var(--color-icon-dark);
  width: 44px;
  height: 44px;
  border: none;
}
.footer-icon:hover {
  fill: var(--color-white);
  background-color: var(--color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.footer-icon:focus {
  background-color: pink;
}

.footer-section {
  display: flex;
  justify-content: flex-start;
  gap: 70px;
}

h4 {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}
