/* GENERAL CLASSES */
:root {
  --color-navy: #2f303a;
  --color-background: #e5e5e5;
  --color-ash: #f5f4fa;
  --color-blue: #2196f3;
  --color-white: #ffffff;
  --color-lightgray: #757575;
  --color-almostblack: #212121;
  --color-black: #000000;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  font-size: 14px;
  color: var(-color-black);
  background: var(--color-background);
  width: 1600px;
  justify-content: center;
  margin: 0 auto;
  letter-spacing: 0.02em;
}

/* HEADER CLASSES */
.navigation {
  height: 80 px;
}
.page {
  background-color: var(--color-white);
}

.logo {
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  line-height: 1.2;
  letter-spacing: 0.03em;
  padding: 25px 1240px 25px 215px;
  display: inline-block; /* Wcześniej Webstudio nie odrywało sie od gornej krawedzi kartki */
}

.logo:visited {
  color: var(--color-black);
}
.text-blue {
  color: var(--color-blue);
}
.navigation-list {
  display: inline;
  font-weight: 500;
  font-size: 14px;
}
.naviagation-link {
  text-decoration: none;
  line-height: 1.14;
}
.naviagation-link:visited,
.contact-link:visited,
.address-link:visited {
  color: var(--color-black);
}
.naviagation-link:hover,
.contact-link:hover,
.address-link:hover {
  color: var(--color-blue);
}
.contact-link {
  font-weight: 500;
  text-decoration: none;
  line-height: 1.14;
  color: var(--color-black);
}

.main {
  height: 600px;
  background: var(--color-navy);
}

.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--color-white);
}

.main-button {
  color: var(--color-white);
  background-color: var(--color-blue);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.76;
  cursor: pointer;
}
/* MAIN CLASSES */
.primary-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
.secondary-title {
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
}
.secondary-paragraph {
  color: var(--color-lightgray);
  width: 270px;
  height: 75px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.roboto-bold {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--color-black);
}

.primary-list {
  color: var(--color-lightgray);
  /* font-weight: 400; */
  font-size: 16px;
}

/* FOOTER CLASSES */
.footer {
  height: 252px;
  background-color: var(--color-navy);
}
.address-section {
  color: var(--color-white);
  font-style: normal;
}
.address-link {
  color: var(--color-lightgray);
  text-decoration: none;
  line-height: 1.71;
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* PORTFOLIO ADDITIONAL CLASSES */

.portfolio-text {
  font-size: 16px;
  color: var(--color-lightgray);
  letter-spacing: 0.03em;
  line-height: 1.88;
}
.portfolio-bold {
  font-weight: 700;
  font-size: 18px;
  color: var(--color-black);
  letter-spacing: 0.06em;
  line-height: 2;
}
.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: var(--color-almostblack);
  cursor: pointer;
  background-color: var(--color-ash);
}
.button:hover {
  color: var(--color-white);
  background-color: var(--color-blue);
}
