/* GENERAL CLASSES */
:root {
  --color-navy: #2f303a;
  --color-background: #e5e5e5;
  --color-ash: #f5f4fa;
  --color-blue: #2196f3;
  --color-white: #ffffff;
  --color-lightgray: #757575;
  --color-almostblack: #212121;
  --color-black: #000000;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  font-size: 14px;
  color: var(-color-black);
  background: var(--color-background);
  width: 1200px;
  justify-content: center;
  margin: 0 auto;
  letter-spacing: 0.02em;
}

ul {
  list-style: none;
}
/* .overlay {
  width: 100%;
} */

.text-blue {
  color: var(--color-blue);
}
.text-white {
  color: var(--color-white);
}
/* HEADER CLASSES */

.container {
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  width: 1200px;
  height: 80px;
  /* padding: 24px 27px 25px 15px; */
}

.logo {
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  line-height: 1.2;
  letter-spacing: 0.03em;
  padding-left: 15px;
}

.logo:visited {
  color: var(--color-black);
}

/* <!-- NAWIGACJA --> */

.navigation-section {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin-left: 93px;
  margin-right: 371px;

}
.list-item {
  display: inline;
}

.navigation-section .list-item:nth-child(-n + 2) {
  margin-right: 46px;
}

.navigation-link {
  text-decoration: none;
  line-height: 1.14;
  font-weight: 500;
}
.contact-section {
  padding: 0;

}
.contact-link {
  text-decoration: none;
  line-height: 1.14;
  font-weight: 500;
  color: var(--color-black);
}
.contact-section .list-item:nth-child(1) {
  margin-right: 50px;
}
.navigation-link:visited,
.contact-link:visited,
.address-link:visited {
  color: var(--color-black);
}
.navigation-link:hover,
.contact-link:hover,
.address-link:hover {
  color: var(--color-blue);
}

/* MAIN CLASSES */
.main {
  height: 600px;
  background: var(--color-navy);
}

.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--color-white);
}

.main-button {
  color: var(--color-white);
  background-color: var(--color-blue);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.76;
  cursor: pointer;
}

.primary-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
.secondary-title {
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
}
.secondary-paragraph {
  color: var(--color-lightgray);
  width: 270px;
  height: 75px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.roboto-bold {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--color-black);
}

.primary-list {
  color: var(--color-lightgray);
  font-size: 16px;
}

/* FOOTER CLASSES */
.footer {
  height: 252px;
  background-color: var(--color-navy);
}
.address-section {
  color: var(--color-white);
  font-style: normal;
}
.address-link {
  color: var(--color-lightgray);
  text-decoration: none;
  line-height: 1.71;
  /* font-size: 14px; */
  letter-spacing: 0.03em;
}

/* PORTFOLIO ADDITIONAL CLASSES */

.figcaption-text {
  font-size: 16px;
  color: var(--color-lightgray);
  letter-spacing: 0.03em;
  line-height: 1.88;
}
.figcaption-bold {
  font-weight: 700;
  font-size: 18px;
  color: var(--color-black);
  letter-spacing: 0.06em;
  line-height: 2;
}
.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: var(--color-almostblack);
  cursor: pointer;
  background-color: var(--color-ash);
}
.button:hover {
  color: var(--color-white);
  background-color: var(--color-blue);
}
