// MOBILE FIRST
.article {
  max-width: 1200px;
  min-width: 320px;
  // margin: auto;
  &__container {
    margin: 0 auto;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 0 auto;
    padding: 60px 0 0 0;
  }
  &__title {
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.03em;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
  }
  &__paragraph {
    color: getColor("lightGrey");
    height: 75px;
    max-width: 450px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin: 0;
  }
  &__icons {
    border-radius: 4px;
    max-width: 450px;
    height: 120px;
    background: getColor("ash");
    margin: 0px auto 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// TABLET
@media (min-width: 768px) {
  .article {
    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      // flex-basis: calc((100%-30px)/2);
      // max-width: 354px;
    }
  }
}

// DESKTOP (OLD CODE)
@media (min-width: 1200px) {
  .article {
    width: 1200px;
    margin: auto;
    &__list {
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: nowrap;
      margin: 0 auto;
      padding: 94px 0 0 0;
      & > li:nth-child(-n + 3) {
        margin-right: 30px;
      }
    }
    &__title {
      font-weight: 700;
      line-height: 1.15;
      letter-spacing: 0.03em;
      margin: 0;
      margin-bottom: 10px;
    }
    &__paragraph {
      color: getColor("lightGrey");
      height: 75px;
      width: 270px;
      line-height: 1.71;
      letter-spacing: 0.03em;
      margin: 0;
    }
    &__icons {
      border-radius: 4px;
      width: 270px;
      height: 120px;
      background: getColor("ash");
      margin-bottom: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
