body {
  font-family: "Roboto", "Raleway", sans-serif;
  font-size: 14px;
  color: getColor("black");
  background: getColor("white");
  justify-content: center;
  margin: 0 auto;
  letter-spacing: 0.02em;
}
ul {
  list-style: none;
}
* {
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin: 0 0 50px 0;
  text-align: center;
}

h4 {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: getColor("white");
}

#accept-policy {
  cursor: pointer;
}
.is-hidden {
  opacity: 50%;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 300ms ease-in-out, visibility 300ms linear;
}
