.figure {
  &__figcaption {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 16px;
    color: getColor("lightGrey");
    letter-spacing: 0.03em;
    line-height: 1.88;
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
    &--bold {
      font-weight: 700;
      font-size: 18px;
      color: getColor("almostBlack");
      letter-spacing: 0.06em;
      line-height: 2;
    }
  }
  &__overlay {
    position: relative;
    overflow: hidden;
    &:hover .figure__text-overlay {
      transform: translate(0%, -100%);
    }
  }
  &__text-overlay {
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: getColor("white");
    padding: 49px 45px 49px 24px;
    background: rgba(33, 150, 243, 0.9);
    position: absolute;
    width: 370px;
    transform: translate(0%, 0%);
    overflow: hidden;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform;
  }
}
