.footer {
  background-color: var(--color-darkgrey);
  padding: 60px 15px;
  &__container {
    display: flex;
    justify-content: flex-start;
    gap: 70px;
    width: 1200px;
    margin: 0 auto;
  }
  &__logo {
    color: var(--color-white);
    &:visited {
      color: var(--color-white);
    }
  }
  &__media {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
  }
  &__icon {
    fill: var(--color-white);
    border-radius: 50%;
    background-color: var(--color-icon-dark);
    width: 44px;
    height: 44px;
    border: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill, background-color;
    &:hover {
      fill: var(--color-white);
      background-color: var(--color-blue);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      cursor: pointer;
    }
    &:focus {
      background-color: pink;
    }
  }
  &-form {
    &__newsletter {
      display: flex;
      align-items: center;
      gap: 14px;
    }
    &__input {
      width: 358px;
      height: 50px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 4px;
      padding-left: 16px;
      background-color: var(--color-darkgrey);
      color: var(--color-white);
    }
    &__button {
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 24px;
      padding-left: 42px;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.88;
      &:hover {
        background-color: var(--color-blue-hover);
        border-color: var(--color-blue-hover);
      }
      &--icon {
        width: 24px;
        height: 24px;
        fill: var(--color-white);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: fill, background-color;
      }
    }
  }
}
