// MOBILE FIRST AND ONLY
.js-menu {
  &--hidden {
    display: flex;
  }
  &-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: getColor(white);
    transform: translateX(-150%) rotate(360deg) scale(0.01);
    transition: transform 1s;
  }
  &__icon {
    position: absolute;
    right: 20px;
    top: 20px;
    height: 40px;
    width: 40px;
  }
  &__navigation {
    display: flex;
  }
}
.is-open {
  transform: translateX(0) rotate(0) scale(1);
}
.js-close-menu,
.js-open-menu {
  cursor: pointer;
}

// TABLET
@media (min-width: 768px) {
  .js-menu {
    display: none;
  }
}

// DESKTOP (OLD CODE)
@media (min-width: 1200px) {
  .js-menu {
    display: none;
  }
}
