.logo {
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: getColor("black");
  &__text--blue {
    color: getColor("active")
    ;
  }
}
