// MOBILE FIRST
.slider {
  background: getColor("darkGrey");
  margin: 0 auto;
  &__container {
    background-image: linear-gradient(
        0deg,
        rgba(47, 48, 58, 0.4) 0%,
        rgba(47, 48, 58, 0.4) 100%
      ),
      url("../images/agencja/background.jpg");
      background-size: 480px 400px;
    max-width: 1600px;
    min-width: 320px;
    height: 400px;
    margin: auto;
    padding: 200px 252px 200px 252px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px 0;
  }
  &__title {
    margin: 0 auto;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: getColor("white");
  }
  &__button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.76;
    &:hover {
      background-color: getColor("activeHover");
      border-color: getColor("activeHover");
    }
  }
}

// RESPONSYWNY OBRAZ
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolition: 2dppx) {
  .slider {
    &__container {
      background-image: linear-gradient(
          0deg,
          rgba(47, 48, 58, 0.4) 0%,
          rgba(47, 48, 58, 0.4) 100%
        ),
        url("../images/agencja/background@2x.jpg");

    }
  }
}

// TABLET
@media (min-width: 768px) {
}

// DESKTOP (OLD CODE)
@media (min-width: 1200px) {
  .slider {
    background: getColor("darkGrey");
    margin: 0 auto;
    &__container {
      background-image: linear-gradient(
          0deg,
          rgba(47, 48, 58, 0.4) 0%,
          rgba(47, 48, 58, 0.4) 100%
        ),
        url("../images/agencja/background.jpg");
      max-width: 1600px;
      min-width: 320px;
      margin: auto;
      padding: 200px 252px 200px 252px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 200px 0;
    }
    &__title {
      margin: 0 auto;
      font-weight: 900;
      font-size: 44px;
      line-height: 1.36;
      letter-spacing: 0.06em;
      text-align: center;
      text-transform: uppercase;
      color: getColor("white");
    }
    &__button {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.76;
      &:hover {
        background-color: getColor("activeHover");
        border-color: getColor("activeHover");
      }
    }
  }
}
